<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>
                com.hevs.projectcloud.touristofficebackend.RegistrationEndpoint,
                com.hevs.projectcloud.touristofficebackend.MessagingEndpoint,
                com.hevs.projectcloud.touristofficebackend.apis.QuestionnaireEndpoint,
                com.hevs.projectcloud.touristofficebackend.apis.QuestionEndpoint,
                com.hevs.projectcloud.touristofficebackend.apis.CategoryEndpoint,
                com.hevs.projectcloud.touristofficebackend.apis.ActivityEndpoint,
                com.hevs.projectcloud.touristofficebackend.apis.RecommendationEndpoint,
                com.hevs.projectcloud.touristofficebackend.apis.FeedbackEndpoint,
                com.hevs.projectcloud.touristofficebackend.apis.PossibilityEndpoint,
                com.hevs.projectcloud.touristofficebackend.apis.ReplyEndpoint,
                com.hevs.projectcloud.touristofficebackend.apis.TextEndpoint
            </param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Questionnaires</servlet-name>
        <servlet-class>com.hevs.projectcloud.touristofficebackend.QuestionnairesServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>addQuestionnaire</servlet-name>
        <servlet-class>com.hevs.projectcloud.touristofficebackend.QuestionnairesServlet</servlet-class>

        <init-param>
            <param-name>page</param-name>
            <param-value>
                add
            </param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>deleteQuestionnaire</servlet-name>
        <servlet-class>com.hevs.projectcloud.touristofficebackend.QuestionnairesServlet</servlet-class>

        <init-param>
            <param-name>page</param-name>
            <param-value>
                delete
            </param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>Questions</servlet-name>
        <servlet-class>com.hevs.projectcloud.touristofficebackend.QuestionsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>addQuestion</servlet-name>
        <servlet-class>com.hevs.projectcloud.touristofficebackend.QuestionsServlet</servlet-class>

        <init-param>
            <param-name>page</param-name>
            <param-value>
                add
            </param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>Possibilities</servlet-name>
        <servlet-class>com.hevs.projectcloud.touristofficebackend.PossibilitiesServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>addPossibility</servlet-name>
        <servlet-class>com.hevs.projectcloud.touristofficebackend.PossibilitiesServlet</servlet-class>

        <init-param>
            <param-name>page</param-name>
            <param-value>
                add
            </param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>deletePossibility</servlet-name>
        <servlet-class>com.hevs.projectcloud.touristofficebackend.PossibilitiesServlet</servlet-class>

        <init-param>
            <param-name>page</param-name>
            <param-value>
                delete
            </param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>Categories</servlet-name>
        <servlet-class>com.hevs.projectcloud.touristofficebackend.CategoriesServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>addCategory</servlet-name>
        <servlet-class>com.hevs.projectcloud.touristofficebackend.CategoriesServlet</servlet-class>

        <init-param>
            <param-name>page</param-name>
            <param-value>
                add
            </param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>deleteCategory</servlet-name>
        <servlet-class>com.hevs.projectcloud.touristofficebackend.CategoriesServlet</servlet-class>

        <init-param>
            <param-name>page</param-name>
            <param-value>
                delete
            </param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>Questionnaires</servlet-name>
        <url-pattern>/questionnaires/list/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Questionnaires</servlet-name>
        <url-pattern>/questionnaires/view/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>addQuestionnaire</servlet-name>
        <url-pattern>/questionnaires/add/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>deleteQuestionnaire</servlet-name>
        <url-pattern>/questionnaires/delete/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Questions</servlet-name>
        <url-pattern>/questions/list/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>addQuestion</servlet-name>
        <url-pattern>/questions/add/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Possibilities</servlet-name>
        <url-pattern>/possibilities/list/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>addPossibility</servlet-name>
        <url-pattern>/possibilities/add/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>deletePossibility</servlet-name>
        <url-pattern>/possibilities/delete/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Categories</servlet-name>
        <url-pattern>/categories/list/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>addCategory</servlet-name>
        <url-pattern>/categories/add/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>deleteCategory</servlet-name>
        <url-pattern>/categories/delete/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>welcome.jsp</welcome-file>
    </welcome-file-list>

</web-app>