<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hevs.projectcloud.touristofficehealthyservice" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/activity_welcome_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/activity_main_name"
            android:parentActivityName=".WelcomeActivity" />
        <activity
            android:name=".QuestionnaireActivity"
            android:label="@string/activity_questionnaire_name"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".QuestionnaireListActivity"
            android:label="@string/activity_questionnairelist_name"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/about_activity_label"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuestionnaireDetailsActivity"
            android:label="@string/title_activity_questionnaire_details"
            android:parentActivityName=".QuestionnaireActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hevs.projectcloud.touristofficehealthyservice.QuestionnaireActivity" />
        </activity>
    </application>

</manifest>
